# ======================
# Maven
# ======================
target/
*.log

# ======================
# Allure
# ======================
allure-results/

# ======================
# IntelliJ IDEA
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Node / Frontend (future-proof)
# ======================
node_modules/

# ======================
# Docker
# ======================
*.pid

# ======================
# Jenkins runtime data (NEVER COMMIT)
# ======================
infra/jenkins/jenkins-data/

# ======================
# Environment / Secrets
# ======================
.env
*.env

# ======================
# Cloud / SSH private material (NEVER COMMIT)
# ======================
*.pem
*.ppk
*.key
id_rsa
id_ed25519
.aws/
aws-notes.md
runbook*.md
*runbook*.md
private/
